﻿<!DOCTYPE html>
<html>
<head>
    <title>Weather</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
   
    <link rel="icon" href="favicon.png"/>
    <link rel="stylesheet" href="Content/angular-material/angular-material.min.css" />
    <link rel="stylesheet" href="Content/materialdesignicons.min.css" />
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">-->
    <link rel="stylesheet" href="Content/custom.css" />
    <!--<link href="Content/font-awesome.css" rel="stylesheet" />-->
    <script src="Scripts/angular.js"></script>
   
</head>
<body  ng-app="app" ng-controller="mainctrl" >

    

        <div class="page {{pageclass}}" ng-view id="view"><h1 ></h1></div>



        

        <!--<script>
            s = 'hello';
            t = '';
            i = s.length;
            while (i > 0) { t += s.substring(i - 1, i); i--; };
            alert(t);
        </script>-->
        <script src="Scripts/jquery-1.9.1.js"></script>
        <!--<script src="Scripts/bootsrap.js"></script>-->
  
    <script src="Scripts/angular-animate.min.js"></script>
    <script src="Scripts/angular-aria.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/angular-material.min.js"></script>
    <script src="Scripts/angular-messages.min.js"></script>
    <script src="Scripts/app.js"></script>

</body>
</html>
