﻿<md-toolbar class="md-primary">
    <h1 class="md-toolbar-tools">
        <span>Weather Forecast</span>
    </h1>
</md-toolbar>


   <div layout="row" layout-align="center center" id="main">
    <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z2">
        <md-content class="md-padding">
            <form name="form" class="css-form" ng-submit="form.$valid && weathercheck(city,country)" novalidate>
                <md-input-container class="md-icon-float">
                    <label>City</label>
                    <md-icon md-svg-src="../Content/angular-material-icons/pin.svg" class="city"></md-icon>
                    <input type="text" ng-model="city" name="City" required />

                    <!--<div ng-show="form.City.$error.required">Enter City.</div>-->

                </md-input-container>
                <md-input-container>
                    <label>Country</label>

                    <md-icon md-svg-src="../Content/angular-material-icons/lang.svg" class="country"></md-icon>
                    <input type="text" ng-model="country" required name="count" />
                    <!--<div  ng-messages="form.count.$error">
                        <p ng-message="required">Add country!</p>

                    </div>-->

                </md-input-container>
                <md-input-container id="flip">
                    <md-button class="md-raised" id="flipfront" type="button" data-ng-click="flipf()"> &#8457</md-button>
                    <md-button class="md-raised md-primary" id="flipback" type="button" ng-click="flipb()"> &deg;C</md-button>
                </md-input-container>
                <!--<div id="flipbox" class="md-button">
                    <div  ng-model="m" ng-click="flipb()">
                        <p>Temprature in &deg;C</p>
                    </div>
                    <br />
                    <div  class="md-button" ng-click="flipf()">
                        <p>Temprature in &#8457 </p>
                    </div>
                </div>-->
                <br /><br />
                <md-button type="submit" id="search" ng-disabled="form.$invalid" ng-messages="form.count.$error" ng-class="{'md-raised md-primary md hue-1':(form.$dirty && form.$valid)}">Search</md-button>
            </form>
        </md-content>
    </div>
</div>
   

<style>
 span{
    margin:0 auto;

}
#main{
    margin-top:50px;
}

md-input-container{ /*input text center*/
    text-align:center;
}

md-input-container>md-icon{ /*icon top margin to level with input*/
    top:22px;
}
md-input-container.md-input-invalid>md-icon.country,md-input-container.md-input-invalid>md-icon.city{ /*change icon color to red when input invalid*/
    fill:rgb(244,67,54);
}
md-input-container>md-icon+input {  /*margin left from icon and input*/
    margin-left: 56px;
}
input{
    font-size:x-large;
}
label{
    font-size:large;
}
md-icon{
    height:36px;
    width:36px;
}
.mdi{
    font-size:-webkit-xxx-large;
}
a{
    position:absolute;
    top:6px;
    /*color:whitesmoke;*/
}
#flip{
    display:block;
    position:relative;
}
#flipback,#flipfront {
  
    width: 70px;
    height: 70px;
   
    text-align: center;
  
}

#search{
    width:50%;
    height:47px;
    margin-top:10px;
    font-size:large;
    left:25%;
    /*background-color:lightgreen;*/
    color:#fff;
}
</style>