﻿<md-toolbar >
    <a href="#/">   <i class="mdi mdi-keyboard-backspace"></i></a>
    <h1 class="md-toolbar-tools">
        <span> Result Forecast</span>
    </h1>
</md-toolbar>

<div layout="row" layout-align="center center" id="main">
    <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="">
        <md-content class="md-padding">
            <form name="form" class="css-form" novalidate>
                <md-input-container class="md-icon-float">

                    <md-icon md-svg-src="../Content/angular-material-icons/pin.svg" class="city"></md-icon>
                    <input type="text" ng-model="city" name="City" required />

                </md-input-container>
                <md-input-container>


                    <md-icon md-svg-src="../Content/angular-material-icons/lang.svg" class="country"></md-icon>
                    <input type="text" ng-model="country" required name="count" />

                </md-input-container>

                <md-button class="md-raised" id="flipfront" type="button" data-ng-click="flipf()"> &#8457</md-button>
                <md-button class="md-raised md-primary" id="flipback" type="button" ng-click="flipb()"> &deg;C</md-button>




                <md-icon md-svg-src="../Content/angular-material-icons/search.svg" id="search1" ng-click="form.$valid && weathercheck(city,country)" class="md-button"></md-icon>

                <!--<md-button type="submit" id="search" ng-disabled="form.$invalid" ng-messages="form.count.$error" ng-class="{'md-raised md-primary md hue-1':(form.$dirty && form.$valid)}">Search</md-button>-->
            </form>
        </md-content>
    
       
            <md-grid-list id="m"md-cols-sm="2"  md-cols-gt-sm="3" md-cols-md="6" md-cols-gt-md="6"
                           md-row-height="3:2" md-row-height-sm="3:1" md-row-height-gt-md="3:1"
                          md-gutter="12px" md-gutter-gt-sm="8px">
                <md-grid-tile class="green" md-rowspan="2" md-rowspan-gt-md="4" md-colspan-sm="1" md-colspan-gt-sm="3" md-colspan-md="6" md-colspan-gt-md="6">
                    <md-grid-tile-header><h3>Forecast For</h3></md-grid-tile-header>
                    <h1 class="md-display-4" ><span style="text-align:center">{{place.data.city.name}}</span></h1>
                </md-grid-tile>
                <md-grid-tile class="gray"md-rowspan="2" md-rowspan-gt-md="4" md-rowspan-md="3" md-colspan-md="2" md-colspan-gt-md="2">
                    <md-grid-tile-header>
                        <h3><span>Current-Temp</span> </h3>
                    </md-grid-tile-header>
                    <h1 class="md-display-1">{{place.data.list[0].main.temp}}&deg;</h1>
                </md-grid-tile>
                <md-grid-tile class="green"md-rowspan="2" md-rowspan-gt-md="4" md-rowspan-md="2" md-colspan-md="1" md-colspan-gt-md="2">
                    <md-grid-tile-footer>
                        <h3>Maximum-Temp </h3>
                    </md-grid-tile-footer>
                    <h1>{{place.data.list[0].main.temp_max}}&deg;</h1>
                </md-grid-tile>
                <md-grid-tile class="yellow"md-rowspan="2" md-rowspan-gt-md="4" md-rowspan-md="2" md-colspan-md="1" md-colspan-gt-md="2" >
                    <md-grid-tile-footer>
                        <h3>Minimum-Temp</h3>
                    </md-grid-tile-footer>
                    <h1>{{place.data.list[0].main.temp_min}}&deg;</h1>
                </md-grid-tile>
                <md-grid-tile class="blue" md-rowspan="2" md-rowspan-gt-md="4" md-colspan-md="3" md-colspan-gt-md="3">
                    <md-grid-tile-footer>
                        <h3>humidity </h3>
                    </md-grid-tile-footer>
                    <h1>{{place.data.list[0].main.humidity}}%</h1>
                </md-grid-tile>
                <md-grid-tile class="red" md-rowspan="2" md-rowspan-md="2" md-rowspan-gt-md="4" md-colspan-md="3" md-colspan-gt-md="3">
                    <md-grid-tile-footer>
                        <h3>Rain</h3>
                    </md-grid-tile-footer>
                    <h1>{{place.data.list[0].weather[0].description}}</h1>
                </md-grid-tile>
               
            </md-grid-list>
    
</div>

</div>


<style>
span{ /*text inside md-toolbar*/
    margin:0 auto;

}
form{   /*to show all stuff in row*/
        display:flex;
        position:relative;
    }
#main{
    margin-top:20px;
}

input-placeholder {
   color: red;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}

md-input-container{ /*input text center*/
    text-align:center;
    padding: 9px 9px 9px; /*move top left/right and bottom padding of input border bottom*/
    margin-left: 5px; /*margin between inputs*/
}
@media(max-width: 360px){
  form{
      display:inline-block;
  }
  h1{
      font-size:1.5em;
  }
}

md-input-container>md-icon{ /*icon top margin to level with input*/
    top:17px;
}
md-input-container.md-input-invalid>md-icon.country,md-input-container.md-input-invalid>md-icon.city{ /*change icon color to red when input invalid*/
    fill:rgb(244,67,54);
}
 md-input-container>md-icon+input {/* margin left from icon and input*/
    margin-left: 26px;
}
input{
    font-size:large;
}

md-icon{
    height:24px;
    width:24px;
}
.mdi{                        /*back icon*/
    font-size:-webkit-xxx-large;
}
a{
    position:absolute;
    top:6px;
    /*color:whitesmoke;*/
}

#flipback,#flipfront {
  
    width: 60px;
    height: 40px;
   margin-left:10px;
    text-align: center;
  
}

#search1{
       width: 80px;
    height: 40px;
    margin-top: 0px;
    margin-left: 10px;
   border-radius:0;
    background-color: darkolivegreen;
    color: #fff;
    padding:0;
}

 md-grid-list {
  margin: 8px;

 }
 
.gray {
  background: #f5f5f5; }
.green {
  background: #b9f6ca; }
.yellow {
  background: #ffff8d; }
.blue {
  background: #84ffff; }
.purple {
  background: #b388ff; }
.red {
  background: #ff8a80; }
md-grid-tile {
  transition: all 400ms ease-out 50ms; }
#m{
    padding-bottom: calc(((16.6667% - 6.66667px) * 3) + 16px);
}

</style>